<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#00A4AA">


    <link rel="manifest" href="/JSON/manifest.json">

    <link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Poppins" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href={{logo}} rel="icon">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />

    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="https://tiles.unwiredmaps.com/js/leaflet-unwired.js"></script>

    <meta name="google-signin-client_id" content="202266027367-d0ferod80naf0r5ac75b69rvfa0ma82a.apps.googleusercontent.com">

</head>
<body>
{{{body}}}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
<script type="text/javascript" src="/stylesheets/bootstrap/js/bootstrap.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
</html>
