<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#" style="color: white">Smart Travel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" style="margin-right: 10%;">
                    <a class="nav-link" href="/" style="color: white !important;">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown" style="color: white">
                    <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ session.userName }}
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/settings">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/getWishList">Wish List</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logOut">Log Out</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0"  method="post" action="/searchProfiles">
                <select data-trigger="" name="searchType" style="border-radius: .25rem;padding: 1%">
                    <option value="Name">Name</option>
                    <option value="Age">Age</option>
                    <option value="City">City</option>
                    <option value="Country">Country</option>
                    <option value="phoneNumber">Number</option>
                </select>

                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="searchText">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>
<div class="content">

    <div class="container explore_card">
        <div class="row">
            <div class="col-md-12" style="text-align: center;margin-top: 2%;">
                <h3 style="font-size: 45px;">Search Result</h3>
            </div>
            {{#if Data}}
                {{#each Data}}
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <!--<img class="card-img-top" src="./images/_full.jpg" alt="Card image cap">-->
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center">{{ username }}</h5>
                            <div style="text-align: center">
                                <a href="/userJournal/{{ @key }}" class="btn btn-primary">Show</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            {{else}}
                <div class="col-md-12 mb-4" style="text-align: center">
                    <h1 style="color: firebrick">No Record Found</h1>
                </div>
            {{/if}}
        </div>
    </div>

</div>

