<div class="text-center" style="background-color: #f5f5f5;">
<form class="form-signin" method="post" action="/signUp" role="form">
    <img class="mb-4" src="images/logo.png" alt="" width="72" height="72">
    <input type="email" id="inputEmail" name="Email" class="form-control" placeholder="Email address" required autofocus>

    <div style="display: flex;justify-content: center;">
        <input type="text" id="fullName" name="fullName" class="form-control" placeholder="Full Name" required style="margin-right: 1%;">
        <input type="tel" id="number" name="number" class="form-control" placeholder="Phone Number" size="8" required style="margin-left: 1%;">
    </div>

    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form></div>